{% extends "main/base.html" %}
{% block title %}
Curve info
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1 class="mt-2">{{material_info.name}}</h1>
        <hr class="mt-0 mb-4">
        <ul>
            <li>Name of curve: {{curve_info.name}}</li>
            <li>Cyclic strain hardening coefficient - K: {{curve_info.K}} [ MPa ]</li>
            <li>Cyclic strain hardening exponent - n: {{curve_info.n}} [ - ]</li>
            <li><p>{{curve_info.comment}}</p></li>
        </ul>
    </div>
    <div class="col-sm">
        <div id = "container" style = "width: 600px; height: 200px; margin: 0 auto">
              <script language = "JavaScript">
                 function drawChart() {
                    // Define the chart to be drawn.
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'Ea');
                    data.addColumn('number', 'Stress Amplitude');
                    data.addRows({{data|safe}});

                    // Set chart options
                    var options = {'title' : '{{curve_info.name}} curve - x:lin , y:lin ',
                       hAxis: {
                          title: 'Strain Amplitude [ uE ]'
                       },
                       vAxis: {
                          title: 'Stress Amplitude [ MPa ] '
                       },
                       'width':700,
                       'height':600,
                       curveType: 'function'
                    };

                    // Instantiate and draw the chart.
                    var chart = new google.visualization.LineChart(document.getElementById('container'));
                    chart.draw(data, options);
                 }
                 google.charts.setOnLoadCallback(drawChart);
              </script>
        </div>
    </div>
  </div>
</div>
{% endblock %}