{% extends "main/base.html" %}
{% block title %}
Curve info
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h1 class="mt-2">{{material_info.name}}</h1>
        <hr class="mt-0 mb-4">
        <div>
            <p class="mb-0"><h5>Curve name : {{curve_info.name}}</h5></p>
        </div>
        <br>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Description</th>
                <th scope="col">Physical property</th>
                <th scope="col">Value</th>
                <th scope="col">Unit</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Cyclic strain hardening coefficient</th>
                <th scope="row">K</th>
                <th scope="row">{{curve_info.K}}</th>
                <th scope="row">MPa</th>
            </tr>
            <tr>
                <th scope="row">Cyclic strain hardening exponent</th>
                <th scope="row">n</th>
                <th scope="row">{{curve_info.n}}</th>
                <th scope="row">-</th>
            </tr>
            </tbody>
        </table>
        <div>
            <p class="mb-0">comment : {{curve_info.comment}}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div id = "container" style = "width: 600px; height: 200px; margin: 0 auto">
              <script language = "JavaScript">
                 function drawChart() {
                    // Define the chart to be drawn.
                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'Ea');
                    data.addColumn('number', 'Stress Amplitude');
                    data.addRows({{data|safe}});

                    // Set chart options
                    var options = {'title' : '{{curve_info.name}} curve - x:lin , y:lin ',
                       hAxis: {
                          title: 'Strain Amplitude [ uE ]'
                       },
                       vAxis: {
                          title: 'Stress Amplitude [ MPa ] '
                       },
                       'width':600,
                       'height':500,
                       curveType: 'function'
                    };

                    // Instantiate and draw the chart.
                    var chart = new google.visualization.LineChart(document.getElementById('container'));
                    chart.draw(data, options);
                 }
                 google.charts.setOnLoadCallback(drawChart);
              </script>
        </div>
    </div>
  </div>
</div>
{% endblock %}