{% extends "main/base.html" %}
{% block title %}
Delete
{% endblock %}
{% block content %}
<br/><br/>
<h3> Are you sure you want to delete "{{ material_info.name }}?"</h3>
<br/><br/>
<form action="" method="POST">
    {% csrf_token %}
    <div class="col">
        <table>
            <td><button class="btn btn-danger">Delete</button></td>
            <td>
                <input class="btn btn-warning" type=button value="Previous Page" onClick="javascript:history.go(-1);"></td>
            </td>
        </table>
    </div>

</form>
{% endblock %}