{% extends "main/base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block content %}
<br><br>
<div class="row justify-content-center">
<blockquote class="blockquote text-center">
  <h1 class="mb-0">Welcome to Material Database</h1>
  <footer class="blockquote-footer text-right"><cite title="Source Title">Hanon Systems Services</cite></footer>
</blockquote>

</div>
<br><br>
<div class="row justify-content-center">
    <img src="{% static 'main/images/hanon-car.jpg' %}" width="800" height="400" alt="">
</div>
{% endblock %}



