{% extends "main/base.html" %}
{% block title %}
Hose list
{% endblock %}

{% block content %}
<h1 class="mt-2">{{material_type.name}}</h1>
<hr class="mt-0 mb-4">
<br>
<div>
   <form method="get">
   {{my_filter.form}}
   <button class="btn btn-primary" type="submit">Filter</button>
   </form>
</div>
<br>
<div class="card card-body">
   <table class="table table-striped">
     <thead class="thead-dark">
     <tr>
         <th class="text-center align-middle" scope="col">Material</th>
         <th class="text-center align-middle" scope="col">Type</th>
         <th class="text-center align-middle" scope="col">Action</th>
     </tr>
     </thead>
     <tbody>
         {% for item in hose_ls %}
         <tr>
             <td class="text-center align-middle">
                 <a class="btn btn-outline-dark btn-lg" href="{%url 'material_info' material_type.id item.id%}" role="button">{{item.name}}</a>
             </td>
             <td class="text-center align-middle"><h5>{{item.type}}</h5></td>
             <td class="text-center align-middle">
               {% if user.is_authenticated %}
               <a class="btn btn-info" href="{%url 'update_hose' material_type.id item.id%}">Edit</a>
               <a class="btn btn-danger" href="{%url 'delete_hose' material_type.id item.id%}">Delete</a>
               {% else %}
               <a class="btn btn-info disabled" href="{%url 'update_hose' material_type.id item.id%}">Edit</a>
               <a class="btn btn-danger disabled" href="{%url 'delete_hose' material_type.id item.id%}">Delete</a>
               {% endif %}
             </td>
         </tr>
         {% empty %}
         <h2>Sorry no available data</h2>
         {% endfor %}
     </tbody>
   </table>
</div>
<br>
<div class="card card-body">
    {% if user.is_authenticated %}
    <a class="btn btn-success" href="{%url 'create_hose' material_type.id %}">Add material</a>
    {% else %}
    <a class="btn btn-success disabled" href="{%url 'create_hose' material_type.id %}">Add material</a>
    {% endif %}
</div>
<br>
<a class="btn btn-primary" href="/material_type_list" role="button">Back to material type</a>
{% endblock %}