{% extends "main/base.html" %}
{% block title %}
Hose info
{% endblock %}

{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1 class="mt-2">{{hose_info.name}}</h1>
            <hr class="mt-0 mb-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
    <div class="card card-body">
        <h3 class="mt-2">Static</h3>
        <br>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th colspan="2" style="background:white; border-top: hidden" class="text-center align-middle" scope="col"></th>
                <th colspan="3" class="text-center align-middle" scope="col">Temperature [ °C ]</th>
            </tr>
            <tr>
                <th class="text-center align-middle" scope="col">Description</th>
                <th class="text-center align-middle" scope="col">Physical property</th>
                <th class="text-center align-middle" scope="col">-40</th>
                <th class="text-center align-middle" scope="col">23</th>
                <th class="text-center align-middle" scope="col">100</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="text-center align-middle" scope="row">Young's modulus</th>
                <th class="text-center align-middle" scope="row">E [MPa]</th>
                <th class="text-center align-middle" scope="row">{{hose_static_info.Stat_E_min40}}</th>
                <th class="text-center align-middle" scope="row">{{hose_static_info.Stat_E_plus23}}</th>
                <th class="text-center align-middle" scope="row">{{hose_static_info.Stat_E_plus100}}</th>
             </tr>
            <tr>
                <th class="text-center align-middle" scope="row">Poisson's ratio</th>
                <th class="text-center align-middle" scope="row">μ [-]</th>
                <th class="text-center align-middle" scope="row">{{hose_static_info.Stat_nu_min40}}</th>
                <th class="text-center align-middle" scope="row">{{hose_static_info.Stat_nu_plus23}}</th>
                <th class="text-center align-middle" scope="row">{{hose_static_info.Stat_nu_plus100}}</th>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    <div class="col-md-6 offset-md-0">
    <div class="card card-body">
        <h3 class="mt-2">Dynamic</h3>
        <br>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th colspan="2" style="background:white; border-top: hidden" class="text-center align-middle" scope="col"></th>
                <th colspan="3" class="text-center align-middle" scope="col">Temperature [ °C ]</th>
            </tr>
            <tr>
                <th class="text-center align-middle" scope="col">Description</th>
                <th class="text-center align-middle" scope="col">Physical property</th>
                <th class="text-center align-middle" scope="col">-40</th>
                <th class="text-center align-middle" scope="col">23</th>
                <th class="text-center align-middle" scope="col">100</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="text-center align-middle" scope="row">Young's modulus</th>
                <th class="text-center align-middle" scope="row">E [MPa]</th>
                <th class="text-center align-middle" scope="row">{{hose_dynamic_info.Dyn_E_min40}}</th>
                <th class="text-center align-middle" scope="row">{{hose_dynamic_info.Dyn_E_plus23}}</th>
                <th class="text-center align-middle" scope="row">{{hose_dynamic_info.Dyn_E_plus100}}</th>
             </tr>
            <tr>
                <th class="text-center align-middle" scope="row">Poisson's ratio</th>
                <th class="text-center align-middle" scope="row">μ [-]</th>
                <th class="text-center align-middle" scope="row">{{hose_dynamic_info.Dyn_nu_min40}}</th>
                <th class="text-center align-middle" scope="row">{{hose_dynamic_info.Dyn_nu_plus23}}</th>
                <th class="text-center align-middle" scope="row">{{hose_dynamic_info.Dyn_nu_plus100}}</th>
            </tr>
            </tbody>
        </table>
    </div>
  </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-6">
          <div class="card card-body">
            <p class="mb-0">comment : {{hose_static_info.Stat_comment}}</p>
          </div>
      </div>
      <div class="col-md-6">
          <div class="card card-body">
            <p class="mb-0">comment : {{hose_dynamic_info.Dyn_comment}}</p>
          </div>
      </div>
  </div>
</div>
<br>
<input class="btn btn-primary" type=button value="Back to {{material_type.name}} list" onClick="javascript:history.go(-1);">
{% endblock %}