{% extends "main/base.html" %}
{% block title %}
Material info
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h1 class="mt-2">{{material_info.name}}</h1>
            <hr class="mt-0 mb-4">
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
        <h3 class="mt-2">Material properties : </h3>
        <br>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th class="text-center align-middle" scope="col">Description</th>
                <th class="text-center align-middle" scope="col">Physical property</th>
                <th class="text-center align-middle" scope="col">Value</th>
                <th class="text-center align-middle" scope="col">Unit</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="text-center align-middle" scope="row">Young's modulus modulus</th>
                <th class="text-center align-middle" scope="row">E</th>
                <th class="text-center align-middle" scope="row">{{material_info.E}}</th>
                <th class="text-center align-middle" scope="row">MPa</th>
            </tr>
            <tr>
                <th class="text-center align-middle" scope="row">Poisson's ratio</th>
                <th class="text-center align-middle" scope="row">μ</th>
                <th class="text-center align-middle" scope="row">{{material_info.nu}}</th>
                <th class="text-center align-middle" scope="row">-</th>
            </tr>
            <tr>
                <th class="text-center align-middle" scope="row">Ultimate tensile strength</th>
                <th class="text-center align-middle" scope="row">Rm</th>
                <th class="text-center align-middle" scope="row">{{material_info.Rm}}</th>
                <th class="text-center align-middle" scope="row">MPa</th>
            </tr>
            <tr>
                <th class="text-center align-middle" scope="row">Yield stress</th>
                <th class="text-center align-middle" scope="row">Re</th>
                <th class="text-center align-middle" scope="row">{{material_info.Re}}</th>
                <th class="text-center align-middle" scope="row">MPa</th>
            </tr>
            <tr>
                <th class="text-center align-middle" scope="row">Fatigue limit</th>
                <th class="text-center align-middle" scope="row">Ru</th>
                <th class="text-center align-middle" scope="row">{{material_info.Ru}}</th>
                <th class="text-center align-middle" scope="row">MPa</th>
            </tr>
            </tbody>
        </table>
        <div>
            <p class="mb-0">comment : {{material_info.comment}}</p>
        </div>
            </div>
    <div class="col-md-3 offset-md-2">
        <h3 class="mt-4">Material curves :</h3>
        <br>
        <ul>
            {% for item in curve_ls %}
                <a class="btn btn-outline-info btn-sm" href="{%url 'curve_info' material_type.id material_info.id item.name%}">{{item.name}}</a>
                <br><br>
            {% empty %}
                <h2>Sorry no available data</h2>
            {% endfor %}
        </ul>
    </div>
  </div>
</div>
<br>
<hr class="mt-0 mb-4">
<input type=button value="Back to {{material_type.name}} list" onClick="javascript:history.go(-1);">
{% endblock %}