{% extends "main/base.html" %}
{% block title %}
Material types
{% endblock %}

{% block content %}
<br>
<h1 class="mt-2">Material types</h1>
    <hr class="mt-0 mb-4">
<div class="card card-body">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th class="text-center align-middle" scope="col">Material type</th>
            <th class="text-center align-middle" scope="col">Number of materials</th>
        </tr>
        </thead>
        <tbody>
            {% for item,count in count_ls.items%}
            <tr>
                <td class="text-center align-middle">
                    {% if item.name == "Aluminium" %}
                    <a href="{%url 'material_list' item.id%}"><h3 style="color:black">{{ item.name }}</h3></a>
                    {% elif item.name == "Steel" %}
                    <a href="{%url 'material_list' item.id%}"><h3 style="color:black">{{ item.name }}</h3></a>
                    {% elif item.name == "Hose" %}
                    <a href="{%url 'hose_list' item.id%}"><h3 style="color:black">{{ item.name }}</h3></a>
                    {% elif item.name == "Plastic" %}
                    <a href="{%url 'plastic_list' item.id%}"><h3 style="color:black">{{ item.name }}</h3></a>
                    {% elif item.name == "Rubber" %}
                    <a href="{%url 'rubber_list' item.id%}"><h3 style="color:black">{{ item.name }}</h3></a>
                    {% endif %}
                </td>
                <td class="text-center align-middle">{{ count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
{% endblock %}