{% extends "main/base.html" %}
{% block title %}
Material list
{% endblock %}

{% block content %}
<h1 class="mt-2">{{material_type.name}}</h1>
    <hr class="mt-0 mb-4">

<ul class="list-group">
    {% for item in material_ls %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{%url 'material_info' material_type.id item.id%}"><h5 style="color:black">{{item.name}}</h5></a>
        </li>
    {% empty %}
        <li>Sorry no available data</li>
    {% endfor %}
</ul>

{% endblock %}