{% extends "main/base.html" %}
{% block title %}
Material list
{% endblock %}

{% block content %}
<br>
<h1 class="mt-2">{{material_info.name}}</h1>
<br>
<div>
   <form method="get">
   {{my_filter.form}}
   <button class="btn btn-primary" type="submit">Filter</button>
   </form>
</div>
<br>
<div class="card card-body">
   <table class="table table-striped">
     <thead class="thead-dark">
     <tr>
         <th class="text-center align-middle" scope="col">Water Content</th>
         <th class="text-center align-middle" scope="col">Action</th>
     </tr>
     </thead>
     <tbody>
         {% for item in water_ls %}
         <tr>
             <td class="text-center align-middle">
                 <a class="btn btn-outline-dark btn-lg" href="{%url 'temperature_list' material_type.id material_info.id item.id%}" role="button">{{item.name}}</a>
             </td>
             {% if user.is_authenticated %}
             <td class="text-center align-middle">
               <a class="btn btn-info" href="{%url 'update_water' material_type.id material_info.id item.id%}">Edit</a>
               <a class="btn btn-danger" href="{%url 'delete_water' material_type.id material_info.id item.id%}">Delete</a>
             </td>
             {% else %}
             <td class="text-center align-middle">
               <a class="btn btn-info disabled" href="{%url 'update_water' material_type.id material_info.id item.id%}">Edit</a>
               <a class="btn btn-danger disabled" href="{%url 'delete_water' material_type.id material_info.id item.id%}">Delete</a>
             </td>
             {% endif %}
         </tr>
         {% empty %}
         <h2>Sorry no available data</h2>
         {% endfor %}
     </tbody>
   </table>
</div>
<br>
<div class="card card-body">
    {% if user.is_authenticated %}
    <a class="btn btn-success " href="">Add material</a>
    {% else %}
    <a class="btn btn-success disabled" href="{%url 'create_water' material_type.id material_info.id%}">Add material</a>
    {% endif %}
</div>
<br>
<a class="btn btn-primary" href="{%url 'plastic_list' material_type.id %}" role="button">Back to plastic list</a>
{% endblock %}